{% extends 'template.html.twig' %}

{% block title %}LMH | Accueil{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid" id="wrapp">

        <!-- Page Heading -->
        <div id="calendar">

        </div>


    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}
{#{% block javascripts %}#}
{#    <script src="{{ asset('assets/js/app.js') }}"></script>#}
{#{% endblock %}#}

